body{
    background-color: #121212;
    color: #ffff;
    margin: 0;
    font-family: sans-serif;
}

.header{
    width: 100%;
    box-sizing: border-box;
    background: #6662;
    backdrop-filter: blur(2px);
    position: fixed;
    z-index: 1000;
    text-align: center;
}

.link__logo{
    align-self: center;
}

.header__link{
    display: inline-block;
    align-self: center;
}

.header__img{
    width: 35px;
    height: 35px;
    margin: 0 50%;
    border-radius: 50%;
    filter: drop-shadow(0 3px 0 #0005);
}

.bienvenida{
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    background: linear-gradient(to top, #0009, transparent), url(../imagenes/Bienvenida.jpg) bottom / cover;
    border-radius: 0 0 12px 12px;
    text-align: center;
    margin-bottom: 30px;
    padding: 90px;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

a:hover{
    color: #d9c;
    font-size: 25px;
}

.carrusel{
    width: auto;
    margin-bottom: 60px;
}

.carrusel__item{
    display: inline-block;
    width: 250px;
    background: linear-gradient(#a69, #a47);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 15px 0 #fff9;
    margin: 35px;
}

.carrusel__item:hover{
    background: linear-gradient(#b7a, #b58);
    box-shadow: 0 0 20px 0 #fff;
}

.carrusel__img{
    width: 150px;
    height: 160px;
    filter: drop-shadow(0 -1px 1px #fff6) drop-shadow(0 2px 3px #0009);
}

h2{
    margin: 0;
}

p{
    text-align: justify;
    font-size: 14px;
    padding: 0 15px 15px 15px;
}

.formulario-comentarios{
    background: linear-gradient(#a69, #a47);
    border-radius: 8px;
    margin: auto;
    box-sizing: border-box;
    width: 650px;
    padding: 25px;
    margin-bottom: 30px;
}

label{
    border-left: 3px solid #0009;
    padding-left: 4px;
}

input, textarea, select, button {
    margin: 5px 0 15px 0;
    width: 100%;
    background-color: #fffa;
    border: none;
}

option{
    background: #b7a;
}

textarea{
    min-width: 100%;
    resize: none;
    font-family: sans-serif;
}

button{
    width: 160px;
}

.faq{
    background-color: #333;
    width: 100%;
    padding: 15px;
}

details{
    border: 1px solid #a69;
    border-radius: 12px;
    padding: 15px;
    margin: 0 15px;
}

summary{
    border-bottom: 1px solid #a69;
}