body{
    background:  linear-gradient(#f8b195, #355c7d);
    color: #ffff;
    margin: 0;
    font-family: sans-serif;
}

.header{
    width: 100%;
    box-sizing: border-box;
    background: #0004;
    backdrop-filter: blur(3px);
    position: fixed;
    z-index: 20;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #d66270;
    font-size: 24px;
    font-weight: bold;
    transition: font-size .5s, color .5s;
}

a:hover{
    color: #f692a0;
    font-size: 25px;
}

.header__link{
    display: inline-block;
    margin: 0 10px;
}

.header__img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.bienvenida{
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    background: linear-gradient(to top, #0009, transparent), url(../imagenes/Bienvenida.jpg) bottom / cover;
    text-align: center;
    padding: 90px;
    position: relative;
    top: 0;
}

.carrusel{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.carrusel__item{
    display: inline-block;
    width: 250px;
    background-color: #ce829d;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 15px 0 #fff9;
    margin: 35px;
    transition: background-color .5s, box-shadow .5s, top .5s;
    position: relative;
    top: 0;
}

.carrusel__item:hover{
    background-color: #dfa0ab;
    box-shadow: 0 0 20px 0 #fff;
    top: -15px;
}

.carrusel__img{
    width: 150px;
    height: 160px;
    filter: drop-shadow(0 -1px 1px #fff6) drop-shadow(0 2px 3px #0009);
}

h2{
    margin: 0;
}

p{
    text-align: justify;
    font-size: 14px;
    padding: 0 15px 15px 15px;
}

.contacto{
    width: 100%;
    position: relative;
}

.formulario-contacto{
    box-sizing: border-box;
    background-color: #ce829d;
    border-radius: 12px;
    margin: auto;
    width: 50vw;
    padding: 25px;
    margin: 30px auto;
}

label{
    border-left: 3px solid #0009;
    padding-left: 4px;
}

input, textarea, select, button {
    margin: 5px 0 15px 0;
    width: 100%;
    background-color: #edd;
    border: none;
    transition: .5s;
}

input, textarea, select:focus-visible{
    outline: none;
}

button:hover{
    box-shadow: 0 0 5px #fff;
}

option{
    background: #eed;
}

textarea{
    min-width: 100%;
    resize: none;
    font-family: sans-serif;
}

button{
    width: 160px;
}

.faq{
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
}

details{
    background-color: #ce829d;
    border-radius: 12px;
    padding: 15px;
    margin: 10px 15px;
}

summary{
    border-bottom: 2px solid #333;
}