body{
    background-color: #121212;
    color: #ffff;
    margin: 0;
    font-family: sans-serif;
}

.bienvenida{
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    background: linear-gradient(to top, #0009, transparent), url(../imagenes/Bienvenida.jpg) bottom / cover;
    border-radius: 0 0 12px 12px;
    text-align: center;
    margin-bottom: 30px;
    padding: 90px;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.carrusel{
    margin: auto;
}

.tarjeta{
    width: 250px;
    margin: auto;
    background: linear-gradient(#a69, #a47);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 15px 0 #fff9;
    margin-bottom: 35px;
}

img{
    width: 150px;
    height: 160px;
    filter: drop-shadow(0 -1px 1px #fff6) drop-shadow(0 2px 3px #0009);
}

h2{
    margin: 0;
}

p{
    text-align: justify;
    font-size: 14px;
    padding: 0 15px 15px 15px;
}

.formulario-comentarios{
    background: linear-gradient(#a69, #a47);
    border-radius: 8px;
    margin: auto;
    box-sizing: border-box;
    width: 650px;
    padding: 25px;
    margin-bottom: 30px;
}

label{
    border-left: 3px solid #0009;
    padding-left: 4px;
}

input, textarea, button{
    margin: 5px 0 15px 0;
    width: 100%;
    background-color: #fffa;
    border: none;
}

textarea{
    min-width: 100%;
    resize: none;
    font-family: sans-serif;
}

button{
    width: 160px;
}